<!DOCTYPE html>
#html("/static/mod.js")
#head()
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
##禁用浏览器缓存
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Ext-JqueryUI-Base</title>
#end ## end head
#body()
#block('content')
#script()
var $ = require('jquery');
#end ## end script
#require('./base.vm')
#end ## end block content
#end ## end body

#end ## end html